<!DOCTYPE html>
<html>
<body>

<h2>Help!</h2>

<p> Default values are already entered accordingly. NOT IDEAL FOR ALL SITUATIONS [Different kinds bots may need a change in the parameters]
    <br> But it is surely is recommended to study what all these do and play around yourself.
       <br><br>
    To understand them better, please go through the following links:<br>    
    The official documentation - <br>
    <a href="https://beta.openai.com/docs/introduction/overview">Official GPT-3 documentation</a>    
    <br>    
    <br>
    The link that explains various parameters in a better way - 
    <br>
    <a href="https://www.twilio.com/blog/ultimate-guide-openai-gpt-3-language-model"> Link </a>    
    <br><br>
    No value in specifications should be None/empty while running trying to get the answer
    <br><br>
    For any query, you can text me on discord - Sahaj#8755
    <br>
    You will need to add me as a friend to communicate. 
    <br>
    Please give me a heads up about yourself before asking questions
</p>

</body>
</html>


